[submodule "themes/DeepThought"]
	path = themes/DeepThought
	url = https://github.com/henrycc24/DeepThought.git
[submodule "themes/themes/DeepThought"]
	path = themes/themes/DeepThought
	url = https://github.com/henrycc24/DeepThought.git
